.portada{
    width: 50em;
    border-radius: 7px;
margin: 2em 0;
}
.h1Home{
    font-size: 2.7em;
}
.portada_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.9em 1em;
}