.portada{
    width: 85%;
    border-radius: 10px;
    margin: 2em 0;
}
.h1Home{
    font-size: 2.7em;
}
.portada_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.3em 1em;
}
