@import '../utils/variables.scss';

.create-poke-form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 85%;
    margin: 1.3em auto;

    input[type=text]{
        font-size: 1.3em;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: .5em;
        margin-bottom: 1.3em;
        color: $main-red;
        padding: 6px 0px ;
    }

    input[type=submit]{
        width: 25%;
        margin: 10px auto;
        font-size: 1em ;
    }
    label{
        font-size: 1.1em;
        margin-top: .5em;
    }
    select, input[type=file], input[type=number] {
        width: 30%;
        font-size: larger;
        text-align: center ;
        margin: 1.2em auto;
        background-color: white;
        color: $main-grey;
    }
    input[type=file] {
        width: 45%;
    }
}
section{
    h2{
        margin: 1em 0;
    }
}
.newPoke_infoContainer{
    display: flex;
    flex-direction: column;

    label{
        margin: .5em auto;
    }
}
.requiredMessage{
    width: 62%;
    margin: 0 auto;
}
.HWInfoContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}