.pokedex{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2.3em 0;
}
.error_search, .requiredMessage{
    font-size: larger;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: $main-fire;
    color: white;
    padding: 3px 1em;
    border-radius: 7px;
    text-align: center;
}
.pokedexIcon{
    max-width: 27em;
    margin: 2em 0;
}
