@import '../utils/variables.scss';
@import '../utils/mixins.scss';

// article{
//     @include pokeCard;

// }
.pokeCard{
    border-radius: 13px;
    // border: solid $main-black 8px;
    margin: 01em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px;
    min-width: 15em;
    // background-color: rgb(236, 222, 205);
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}
.card_title_content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 3em;
}
.card_info_content{
    display: flex;
    flex-direction: column;
    min-height: 12em;
    justify-content: space-evenly;
margin-bottom: 10px;
}
.poke_type{
    width: 78%;
    text-align: center;
    margin: 13px 0;
    margin-left: 7px;
    border-radius: 15px;
    padding: 0 8px;
    background-color: rgb(147, 182, 147);
}
.newPokCardTitleCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.normal{
    border: solid $main-normaltype 8px;
}
.grass{
    border: solid $main-green 8px;
}
.fire{
    border: solid $main-fire 8px;
}
.water{
    border: solid $main-dark-blue 8px;
}
.electric{
    border: solid $main-yellow 8px;
}
.steel{
    border: solid $main-steel 8px;
}
.ice{
    border: solid $main-light-blue 8px;
}
.ground{
    border: solid $main-brown 8px;
}
.poison{
    border: solid $main-purple 8px;
}
.bug{
    border: solid $main-oliveGreen 8px;
}
.rock{
    border: solid $main-grey 8px;
}
.ghost{
    border: solid $main-ghost-color 8px;
}
.fairy{
    border: solid $secon-white-pink 8px;
}

.typenormal{
    background-color: $main-normaltype;
    color: rgb(13, 17, 138);
    border: 3px solid $main-normaltype;
}
.typegrass{
    background-color: $main-green;
    color: rgb(9, 70, 11);
    border: 3px solid $main-green;
}
.typefire{
    background-color: $main-fire;
    color: rgb(238, 216, 15);
    border: 3px solid $main-fire;
}
.typewater{
    background-color: $main-light-blue;
    color: rgb(233, 225, 225);
    border: 3px solid $main-light-blue;
}
.typeelectric{
    background-color: $main-yellow;
    color: rgb(69, 69, 69);
    border: 3px solid $main-black;
}
.typesteel{
    background-color: $main-steel;
    color: rgb(235, 215, 215);
    border: 3px solid $main-steel;
}
.typeice{
    background-color: $main-blue-ice;
    color: rgb(41, 9, 156);
    border: 3px solid $main-light-blue;
}
.typepoison{
    background-color: $main-purple;
    color: rgb(246, 243, 243);
    border: 3px solid $main-purple;
}
.typebug{
    background-color: $main-oliveGreen;
    color: rgb(239, 234, 234);
    border: 3px solid $main-oliveGreen;
}
.typerock{
    background-color: $main-grey;
    color: rgb(221, 213, 213);
    border: 3px solid $main-grey;
}
.typeground{
    background-color: $main-brown;
    color: rgb(221, 213, 213);
    border: 3px solid $main-brown;
}
.typeghost{
    background-color: $main-ghost-color;
    color: rgb(245, 233, 233);
    border: 3px solid $main-ghost-color;
}
.typefairy{
    background-color: $main-white-pink;
    color: rgb(122, 24, 152);
    border: 3px solid $main-white-pink;
}


.titlenormal{
    background-color:$main-normaltype;
    color: rgb(13, 17, 138);
}
.titlegrass{
    background-color: $main-green;
    color: rgb(9, 70, 11);
}
.titlefire{
    background-color: $main-fire;
    color: rgb(238, 216, 15);
}
.titlewater{
    background-color: $main-light-blue;
    color: rgb(233, 225, 225);
}
.titleelectric{
    background-color: $main-yellow;
}
.titlesteel{
    background-color: $main-white-pink;
}
.titleice{
    background-color: $main-blue-ice;
}
.titleground{
    background-color: $main-brown;
    color: rgb(221, 213, 213);
}
.titlepoison{
    background-color: $main-purple;
    color: rgb(221, 213, 213);

}
.titlebug{
    background-color: $main-oliveGreen;
    color: rgb(239, 229, 229);
}
.titlerock{
    background-color: $main-grey;
    color: rgb(245, 233, 233);
}
.titleghost{
    background-color: $second-ghost-color;
    color: rgb(245, 233, 233);
}
.titlefairy{
    background-color: $main-white-pink;
    color: rgb(122, 24, 152);
}

