$main-black: rgb(50, 50, 51);
$main-grey: rgb(123, 123, 123);
$main-green: rgb(19, 168, 19);
$main-oliveGreen: rgb(107, 125, 68);
$main-yellow: rgb(225, 225, 10);
$main-fire: rgb(220, 89, 42);
$main-brown: rgb(121, 64, 36);
$main-blue: rgb(52, 52, 254);
$main-light-blue: rgb(101, 147, 245);
$main-dark-blue: rgb(69, 69, 199);
$main-steel: rgb(53, 61, 100);
$main-purple: rgb(116, 33, 116);
$main-white-pink: rgb(254, 191, 223);
$secon-white-pink: rgb(251, 176, 255);
$main-blue-ice:rgb(188, 208, 248);
$main-ghost-color: rgb(59, 139, 148);
$second-ghost-color: rgb(63, 178, 191);
$main-red: rgb(254, 53, 53);
$main-normaltype: rgb(182, 151, 194);


